<div class="phoneDiv">
    <div>
        <lable for="Phone Number">
            Phone Number
        </lable>
    </div>
    <div>
        <select id="Phone Number" [(ngModel)]="selectedValue" name="phoneNumber" (ngModelChange)="valueChanged()">
            <option *ngFor="let p of phoneNumbers" [value]="p.id">
                {{ p.phoneFirstPart }}</option>
        </select>
        -
        <input type="text" name="phoneSecondPart" maxlength="7" [(ngModel)]="phoneSecondPart" (ngModelChange)="valueChanged()">
    </div>
</div>





<!-- <form>
    <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="phoneNumber">
            <mat-option *ngFor="let phoneNumber of phoneNumbers" [value]="phoneNumber.id">
                {{ phoneNumber.phoneFirstPart }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" name="phoneSecondPart" [(ngModel)]="phoneSecondPart" maxlength="7" placeholder="...">
    </mat-form-field>
</form> -->