section {
    box-sizing: border-box;
    padding: 0 0 50px 0; /* up right down left */
    min-height: 100%;
    position: relative;
    border: 2px solid black;
    background-image: url("/assets/images/background.jpg");
    font-family: "Ink Free";
}

header {
    height: 85px;
    line-height: 85px;
    border-bottom: 2px solid black;
    text-align: center;
    background-image: url("/assets/images/background_header_footer.jpg")
}

main {
    position: relative;
}

footer {
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
    text-align: center;
    background-image: url("/assets/images/background_header_footer.jpg")
}

nav {
    position: absolute;
    padding-left: 20px;
}