h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
}

@media(max-width: 960px) {
    h1 {
      font-size: 40px;
    }
}

@media(max-width: 720px) {
    h1 {
      font-size: 30px;
    }
}

@media(max-width: 540px) {
    h1 {
      font-size: 20px;
    }
}

p {
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    color: white;
    box-sizing: border-box;
}

.p-div {
    width: 300px;
    margin: auto;
}

.instructions {
    background-image: url("/assets/images/chalkboard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding: 20px;
}

label {
    padding-left: 20px;
}

.btn  {
    display: block;
    margin: 0 auto;
    background-image: url('/assets/images/chalkboard_button.jpg');
    border-color: white;
    color: white;
    font-size: 32px;
    box-shadow: 0px 2px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.btn:hover {
    cursor: pointer; 
}

.info {
    font-size: 20px;
    position: relative;
    top: -17px;
    right: -5px;
}
