<div class="container-fluid my-4">
    <form #loginForm="ngForm">
        <h1>Login</h1>

        <div class="row m-4">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" class="form-control" #username="ngModel" name="username" required [(ngModel)]="loginUserData.username" maxlength="20"
                    pattern="^[a-zA-Z0-9 -_'.]*$" [class.is-invalid]="username.invalid && username.touched" autocomplete="off">
                <div *ngIf="username.errors && ((username.invalid && username.touched) || username.touched)">
                    <label class="text-danger danger-label" *ngIf="username.errors.required">Username is required</label>
                    <label class="text-danger danger-label" *ngIf="username.errors.pattern">Username can only contain letters, numbers and signs (-_'.)</label>
                </div>
            </div>
        </div>

        <div class="row m-4">
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" required #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                    maxlength="20" [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="loginUserData.password"
                    autocomplete="off" passwordToggle>
                <div *ngIf="password.errors && ((password.invalid && password.touched) || password.touched)">
                    <label class="text-danger danger-label" *ngIf="password.errors.required">Password is required</label>
                    <label class="text-danger danger-label" *ngIf="password.errors.pattern">Password must be minimum 8 characters having at least 1 uppercase, 1 lowercase and 1 digit</label>
                </div>
            </div>
        </div>
        

        <div class="row my-3">
            <div class="form-group col-md-3">
                <button class="btn" type="submit" (click)="login()" [disabled]="!loginForm.form.valid">Login</button>
            </div>
        </div>
    </form>
</div>